
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
    background-color: #eeead5;
    font-family: 'Grand Hotel', cursive;
    font-family: 'Short Stack', cursive;
}
.paper {
    background: rgb(255, 255, 255);
    box-shadow:
      /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
      /* The second layer */
      0 10px 0 -5px #eee,
      /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
       /* The third layer */
      0 20px 0 -10px #eee,
      /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
      /* Padding for demo purposes */
      padding: 30px;
  }

  input,
  input:active,
  input:focus {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
  }

  .list-group-item {
      border: none !important;
      border-bottom: 1px solid lightgrey !important;
  }
  .list-group-item:first-of-type {
      border-top: 1px solid lightgrey !important;
  }

  li {
      position: relative !important;
      font-weight: 100
      ;
  }
  li span {
      position: absolute !important;
      right: 0;
  }

  .trash{
      display: none;
  }

  li span:hover,
  .trash:hover {
      color: red;
      cursor: pointer;
  }

  li:hover .trash {
      display: inline-block;
  }

  .count {
      font-size: .7rem;
  }

  .marked {
      color: lightgrey !important;
      text-decoration: line-through;
  }